section {
    padding: $paddingSecciones;
    font-family: $tipografia;
    margin: $margin;
    width: 80%;

    h2 {
        @extend %h2;
    }

    p{
        @extend %p;
    }

    section div {
        @include flex(flex-start, flex-start, wrap)
    }

    img {
        margin-bottom: 20px;
    }
